@using DoAnWeb.Models
@model DoAnWeb.Models.THUONGHIEUXE
@{
    ViewBag.Title = "DeleteTH";
    Layout = "~/Views/UserAdmin.cshtml";
}

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MATHUONGHIEU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATHUONGHIEU)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TENTHUONGHIEU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENTHUONGHIEU)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "IndexTHUONGHIEU")
        </div>
    }
</div>

